<nav>
    <ol>
        <li>
            <a href="/">DevelopAir</a>
        </li>
        <li>
            <a href="/find-booking-form">My booking</a>
        </li>
        <li>
            <a href="/destinations">Destinations</a>
        </li>
    </ol>
</nav>