<div class="departure-and-arrival-info">
    <div class="airport-info">
        <p>Origin: Medellín (MDE)</p>
        <p>Departure time: 06:00 am</p>
    </div>
    <div class="airport-info">
        <p>Destination: Bogotá (BOG)</p>
        <p>Arrival time: 07:00 am </p>
    </div>
</div>