<a href="#side-drawer" class="menu-button">
    <span></span>
    <span></span>
    <span></span>
</a>
<aside id="side-drawer">
    <a href="#" class="menu-button">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div id="side-drawer-header">
        <ol>
            <li>
                <a href="/">DevelopAir</a>
            </li>
            <li>
                <a href="/destinations">Destinations</a>
            </li>
            <li>
                <a href="/find-booking-form">My booking</a>
            </li>
        </ol>
    </div>
</aside>