<div class="flight-option">
    <ul class="flight-irrelevant-details">
        <li>
            <p>Direct flight</p>
        </li>
        <span style="margin:0 0.5rem"> • </span>
        <li>DA 1200</li>
    </ul>
    <section class="flight-relevant-details">

        <div class="station-information">
            <p class="dep-or-arr-time">06:00 am</p>
            <p class="dep-or-arr-station">MDE</p>
        </div>
        <p style="margin:auto 0">Duration: 01hr 00mm</p>
        <div class="station-information">
            <p class="dep-or-arr-time">07:00 am</p>
            <p class="dep-or-arr-station">BOG</p>
        </div>
    </section>
    <div class="select-flight">
        <a href="/pax-info" class="select-flight-pseudo-button">Select this flight</a>
    </div>
</div>