<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('includes/head-config') %>
    <link rel="stylesheet" href="/styles/error.css">
    <title>DevelopAir</title>
</head>

<body>
    <%- include('includes/nav-bar')%>
    <%- include('includes/side-drawer')%>    
    <h2>Oooops, something went wrong!</h2>
    <section id="error-message">
        <h2>Something went wrong on the server, we're doing our best to fix it asap.</h2>
        <h3>You may choose what to do now:</h3>
        <a href="/">Go to the main page</a>
        <a href="/destinations">Explore our destinations</a>
    </section>
    <%- include('includes/footer')%>
</body>
</html>