body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

h2 {
    margin-top: 2.5rem;
    font-size: var(--font-size-large);
}

#error-message{
    width: 50%;
    margin: 1.2rem auto;
    background-color: var(--color-white);
    border-radius: 12px;
}

#error-message h2 {
    display: inline-block;
    margin: 1rem auto;
    color: var(--color-dark-blue);
    font-size: var(--font-size-medium);

}

#error-message h3 {
    font-size: var(--font-size-small);
}

#error-message a {
    display: inline-block;
    margin: 1rem 0.75rem;
    padding: 0.25rem 0.55rem;
    border-radius: 6px;
    background-color: var(--color-green);
    color: var(--color-white);
    font-size: var(--font-size-small);
}

#error-message a:hover {
    font-weight: bold;
    background-color: var(--color-dark-blue);
}
