#pax-greeting {
    margin-top: 2.5rem;
    text-align: left;
    margin-bottom: 1rem;
}

#pax-greeting h2 {
    margin-left: 1rem;
}

#pax-greeting h3 {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

#pax-greeting #booked-confirmation-code {
    color:var(--color-dark-grey);
    font-size: var(--font-size-medium);
    font-size: bold;

}

.section-title {
    text-align: left;
    margin-left: 1rem;
    font-weight: bold;
}

#booked-passenger-data {
    width: 60%;
    margin: 0.5rem auto;
    text-align: center;
    background-color: var(--color-white);
    border-radius: 12px;
    border: solid;
    border-color: var(--color-dark-grey);
}

#booked-passenger-data p {
    margin: 0.125rem 0.5rem;
    padding: 0.125rem 0;
}

#booked-itinerary {
    background-color: var(--color-white);
    width: 80%;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border:solid;
    border-color: var(--color-dark-grey);
    border-radius: 12px;
    padding: 1rem 0;
    
}


/*Media queries here for responsive design*/

@media(max-width: 768px){  
    #booked-itinerary {
        flex-direction: column;
        padding: 0.5rem 0;
    }

    .booked-flight-information {
        margin: 0.5rem 0;
    }
}