body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

h2 {
        margin-top:2.5rem ;
        font-size: var(--font-size-medium);
    }

#successful-purchase-box{
    width: 50%;
    margin: 1.5rem auto;
    background-color: var(--color-white);
    border-radius: 12px;
}

#successful-purchase-box p{
    font-size: var(--font-size-medium);
    margin: 0.5rem auto;
    display: inline-block;
}

#confirmation-code {
    color:var(--color-dark-blue);
    font-weight: bold;
    margin: 0.5rem auto;
}

#successful-purchase-box a {
    display: inline-block;
    margin: 0.5rem 0.75rem;
    padding: 0.25rem 0.55rem;
    border-radius: 6px;
    background-color: var(--color-green);
    color: var(--color-white);
    font-size: var(--font-size-medium);

}

#successful-purchase-box a:hover {
    font-weight: bold;
    background-color: var(--color-dark-blue);
}


