form {
    font-family: 'Raleway', sans-serif;
    width: 50rem;
    margin: 3rem auto;
    padding: 1rem;
    background-color: var(--color-dark-blue);
    border-radius: 6px;
    box-sizing: border-box;
}

form #type-of-trip {
    color: var(--color-white);
    margin: 1rem auto;
}

form #travel-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    color: var(--color-white);
}

form section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form section h3 {
    margin-bottom: 2rem;
}

form section input {
    width: 75%;
    margin: 0.5rem auto;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    align-items: center;
}

form section select {
    width: 75%;
    text-align: center;
    margin: 0.5rem auto;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}

form #form-buttons {
    margin-top: 2rem;
}

form button {
    font-size: var(--font-size-small);
}

form button:hover {
    font-weight: bold;
}

/*Media queries here for responsive design*/

@media(max-width: 768px){  
    form {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    
    form #travel-info {
        display: flex;
        flex-direction: column;
    }

    form section h3 {
        margin-bottom: 1rem;
    }
}