body {
    text-align: center;
    background-color:#c8d8e4;
    font-family: 'Raleway', sans-serif;
}

nav {
    background-color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ol {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ol li {
    margin: 0 2rem 0 0 ;
}

header {
    padding: 2.5rem 0 0 0;
}

h1 {
    color: #2b6777;
    font-weight: bold;
    font-size: 3rem;
    margin: 0.5rem 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0.25rem 0.25rem;
}

a {
    color: black;
    text-decoration: none;               
}
a:hover {
    text-decoration: underline;
    color: #2b6767;
}

ol,ul, li {
    list-style: none;
}

.menu-button {
    display: none;
}

.menu-button span {
    width: 100%;
    height: 2px;
    background-color: #52ab98;
}

#side-drawer {
    width: 100%;
    height: 100%;   
    background-color:#2b6777;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#side-drawer:target {
    display: block;
}

#side-drawer-header {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem;
}

#side-drawer ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}

#side-drawer li {
    margin: 1rem auto;
}

#side-drawer a {
    color: rgb(253, 239, 213);
    font-size: 2rem;
}

/*Media queries here for responsive design*/

@media(max-width: 768px){  
    nav {
        display: none;
    }

    header {
        padding:auto;
    }

    .menu-button {
        width: 3rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        top:0;
        right:0;
        margin-right: 0.5rem;
    }
}