body {
    text-align: center;
    margin: 50px;
    background-color: grey;
    font-family: 'Roboto', sans-serif;

}
#developair {
    color: rgb(25, 12, 218);
    font-weight: bold;
    font-size: large;
}

a {
    color: rgb(167, 1, 78);
    text-decoration: none;               
}
a:hover {
    text-decoration: underline;
}

ol,ul, li {
    list-style: none;
}

